<nav class="navbar navbar-light">
    <div class="container">
        <img height="20px" class="logo" src="../../../assets/img/gaiatrutplatform.svg" routerLink="/" />
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" id="profile-icon-section">
                    <img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" class="user-pic" />
                    <p id="profile-name">Houssam</p>
                </a>
            </li>

        </ul>
    </div>
</nav>