<nav class="navbar navbar-expand-sm sticky-top navbar-transparent">
    <!--  <a class="navbar-brand" href="#">GAIA-IDENTITY</a>-->
    <img width="100" srcset="" class="navbar-brand" src="../../../assets/gaiaIdentity_02.svg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
</nav>