ul li {
    list-style: none;
}

#dropdown-account1 .name {
    font-weight: 500;
    color: var(--light-color);
}

#dropdown-account1 img.icon {
    height: 40px;
    line-height: 20px;
    margin: 0;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    padding: 5px;
}


/** Dropdown */

#dropdown-account .name {
    font-weight: 500;
    color: var(--light-color);
}

#dropdown-account img.icon {
    height: 40px;
    line-height: 20px;
    margin: 0;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    padding: 5px;
}

.dropdown-menu {
    width: 250px;
}

.dropdown-menu .avatar {
    display: inline-block;
    font-size: 18px;
    border-radius: 40px;
    padding: 5px 0px 0px 0px;
    height: 40px;
    width: 40px;
    margin-right: 0;
    font-weight: 600;
    color: var(--light-color);
    text-align: center;
    background: var(--black-color);
}

.dropdown-menu .name {
    display: inline-block;
    font-weight: 600;
    line-height: 1.42857;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    font-size: 1.2em;
    color: var(--dark-color);
}

.dropdown-menu .action {
    display: block;
    font-weight: 100;
    line-height: 1.42857;
    margin-bottom: 2px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    color: var(--gray-color);
}

.dropdown-item {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu.show {
    position: absolute;
    inset: 10px auto auto 7px;
    transform: translate3d(-169px, 38px, 0px);
}

.dropdown-toggle {
    color: var(--light-color);
}

.dropdown-toggle .avatar {
    display: inline-block;
    font-size: 16px;
    border-radius: 45px;
    padding: 7px 0px 0px 0px;
    height: 45px;
    width: 45px;
    margin-right: 0;
    font-weight: 600;
    color: var(--light-color);
    text-align: center;
    background: var(--caption-color);
    border: 2px solid var(--header-menu-bg-color);
}

.dropdown-toggle .avatar:hover {
    box-shadow: 0 0 0 1px white, 0 0 0 2px #ffffff;
}

.navbar-collapse {
    float: right !important;
}

nav.sticky-top {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--header-menu-bg-color);
    height: 55px;
    z-index: 1000;
    padding-left: 15px;
    margin-bottom: 50px;
}

.navbar-brand {
    padding-top: 0.5rem;
}

#header-right {
    margin-right: 20px;
}

#header-menu .breadcrumb {
    padding: 13px 20px 10px 20px;
    margin-bottom: 0;
    list-style: none;
    background: none;
    border-bottom: none;
    border-radius: 0;
}

#header-menu .breadcrumb>li {
    color: var(--header-menu-text-color);
    padding-right: 20px;
}

#header-menu .breadcrumb>li a:active,
#header-menu .breadcrumb>li a:hover,
#header-menu .breadcrumb>li a:focus,
#header-menu .breadcrumb li>.active {
    /*border-bottom: 3px solid var(--secondary-light-color) !important;*/
    border-bottom: none !important;
    padding-bottom: 14px;
    color: var(--white-color) !important;
    opacity: 1;
}

#header-menu .breadcrumb li a {
    color: var(--white-color);
    font-weight: 700;
    opacity: 0.7;
    font-size: 1.0em;
}

#header-menu .breadcrumb>li+li:before {
    content: none;
}

.menuItem {
    cursor: pointer;
}